


.Main-bibliotecas {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1rem;
    gap: 1.5rem;
}



.Contenido{
    width: 100%;
}



.Subheader-intro{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    background-color: var(--backgorund);
    position: sticky;
    z-index: 1;
}



.Bibliotecas-intro {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

}

.Bibliotecas-icono {
    font-size: 32px;
    color: var(--primary);
}


.Bibliotecas-titulo {
    font-family: apfel-black;
}

.Galeria-listas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 13rem;
}


.Galeria-li {
    list-style: none;
}



/* media queries */


/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {

    .Contenido{
        padding: 3rem 2rem 3rem 0;
    }

}




/* Escritorio */
@media (min-width: 1025px) {
    .Contenido{
        padding: 3rem 2rem 3rem 0;
    }

}