

.Footer{
    padding: 1.4rem 5rem;
    background-color: var(--background-secondary);
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius:80px 80px 0px 0px ;
    box-shadow: 3px 3px 10px var(--primary);
}


.Footer-nav{
 
}


.Footer-ul{
    display: flex;
    justify-content: space-between;
    

}



.Footer-li{
    list-style: none;
   
}


.Footer-li svg{
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.Footer-li svg:active{
    transform: scale(0.8);
}



.Footer-ulSounds{

    display: flex;
    justify-content: space-between;
    position: relative;
    
}


.Btn-publicacion{

    font-size: 46px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);


}


.Footer-icons{
    width: 24px;
    fill: var(--text);
   
}

.Logo{
    stroke: var(--primary);
}


/* media queries */


/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {
.Footer{
    display: none;
}
    
}



/* Escritorio */

@media (min-width: 1025px) {

   .Footer{
    display: none;
   }
}