

.Footer{
    padding: 2rem 3rem;
    background-color: var(--background-secondary);
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 40px 40px 0 0 ;
}


.Footer-nav{}


.Footer-ul{
    display: flex;
    justify-content: space-between;
    

}



.Footer-li{
    list-style: none;
   
}


.Footer-li svg{
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.Footer-li svg:active{
    transform: scale(0.8);
}

