.Main-perfil {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2.5rem;
    width: 100%;
    position: relative;

}


.Perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;


}





.Nombre-usuario {
    font-family: apfel-black;
    letter-spacing: 1px;
}

.Perfil-contenido {
    margin-top: 1.5rem;
    background-color: var(--background-secondary);
    box-shadow: 2px 2px 7px var(--primary);
    height: 80vh;
    padding: 2rem 1rem;
    border-radius: 80px 80px 0 0;
}


.Perfil-opciones {
    display: flex;
    justify-content: center;
    gap: 8rem;
    padding: 2.5rem;

}

.Perfil-info{
    width: 100%;
}


.Perfil-opciones li {
    list-style: none;
}


.Perfil-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid var(--secondary);

    cursor: pointer;

}








.Perfil-input {
    display: flex;
    width: 100%;
   
}

.Perfil-informacion {
    width: 100%;
}
    


.Perfil-infoUl {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    width: 100%;
}


.Perfil-infoUl li {
    list-style: none;
}


.Perfil-botones {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {



    .Header-main {
        display: flex;
        gap: 2rem;

    }

  

    .Perfil-contenido {
        padding: 2rem;
        width: 100%;
    }


}



.Perfil-musica {
    margin-top: 1rem;
}



/* Escritorio */
@media (min-width: 1025px) {



    .Main-perfil {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2.5rem;
        align-items: center;
        padding: 1rem;

    }


    .Perfil-contenido {
        padding: 2rem;
        width: 100%;
    }


    .Perfil-opciones {}



    .Perfil-item {
        transition: color 0.3 ease
    }

    .Perfil-item:hover {

        color: var(--primary);
    }


}