
/* card cancion */

.Cancion {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
  position: relative;
    border-radius: 4px 4px 0 0 ;
    border-bottom: solid 0.5px var(--secondary);
   
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.5s ease;
}


.Cancion-info{
    width: 100%;
   
    flex: 1;
}


.Cancion:focus{
   box-shadow: 1px 1px 10px var(--secondary);
    
}

.Cancion:active{
    transform: scale(0.98);
}


.Cancion-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
}


.Cancion-imgTexto{
    width: 100%;
}

.Cancion-imgTexto, .Imagen-titulo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


.Cancion-artista{
    color: var(--text-secondary);
    font-size: 0.9rem;
}

.Cancion-icono{
    cursor: pointer;
    transition: transform 0.2s ease ;
    color: var(--primary);
}

.Cancion-icono:active{
    transform: scale(0.9);
}

.Menu-add{

   
    background-color: rgb(37, 36, 36);
    width: 50%;

    border-radius: 20px;
    position: absolute;
    bottom: 50%;
   
   

}


.Menu-addUl{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}


.Menu-addLi{
    list-style: none;
    text-align: center;
}




.Menu-tituloListas{

    font-family: montserrat-extrabold;
}





.MenuOpened-contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}





.MenuOpened-contenido:active{
    transform: scale(0.9);
}




/* card lista */


.Lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 1.5rem 1rem;
   /* background-color: var(--secondary); */
    border-radius: 4px 4px 0 0 ;
    border-bottom: solid 0.5px var(--secondary);
 
    
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.5s ease;
    position: relative;
    width: 100%;
  
}





.Lista-nombreLista{
    width: 100%;
}






.Imagen-titulo{
   
    width: 100%;
}






@keyframes eliminarMenu {
    0% {
        opacity: 0;
       
    }
    100% {
        opacity: 1;
        
    }
} 

.MenuOpened-contenido{

    position: absolute;
    right: 60px;
    padding: 1rem;
    background-color: var(--background-secondary);
    border-radius: 4px;
    animation: eliminarMenu 0.5s ease-out forwards;

}



.Confirmacion-contenido{

    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color:var(--background-secondary);
    border-radius: 20px;
    align-items: center;
    padding: 3em 1rem;
    z-index: 1;
    animation: aparecer 0.5s ease-out forwards;
}


.Confirmacion-p{
    text-align: center;
}


.Confirmacion-txt{
    text-align: center;
}

.Confirmacion-btn{
    padding: 1rem;
    background-color: rgb(208, 93, 93);
    border-radius: 30px;
    transition: transform 0.2s ease;
}


.Confirmacion-btn:active{
    transform: scale(0.95);
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
} 



.Confirmacion-close{
    cursor: pointer;
    transition: transform 0.2s ease;
}


.Confirmacion-close:active{
    transform: scale(0.9);
}




/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {

    .Confirmacion-contenido{
        width: 40%;
    }
    
    
    }
    
    
    
    
    /* Escritorio */
    @media (min-width: 1025px) {
    
        .Confirmacion-contenido{
            width: 30%;
        }
    }    