
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family:  apfel-regular, poppins;
  
  --background-color: #212021;
  --background-secondary:#383537;
  --primary: #fdbad0;
  --secondary: rgba(217, 121, 208, 0.1);

  --text: #f1ebdd;
  --text-secondary: #c6c3c3;

  font-size: 14px;
 
}


.Body{
  background-color: var(--background-color);
  color: var(--text);
}


a{
  color: inherit;
}


h1{
  font-family: apfel-regular;
}



/* media queries */


/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {

:root{
  font-size: 16px;
}


}




/* Escritorio */
@media (min-width: 1025px) {

:root{
  font-size: 16px;
}


}



/* ---------------- */
/*     Fuentes      */
/* ---------------- */


@font-face {
  font-family: inter-black;
  src: url(../../public/fonts/black.ttf);
}




@font-face {
  font-family: inter-oblique;
  src: url(../../public/fonts/black-oblique.ttf);
}


@font-face {
  font-family: inter-regular;
  src: url(../../public/fonts/regular.ttf);
}


@font-face {
  font-family: apfel-regular;
  src: url(../fonts/apfel-regular.otf);
}


@font-face {
  font-family: apfel-black;
  src: url(../fonts/apfel-black.otf);
}


@font-face {
  font-family: genius;
  src: url(../fonts/geniustechno-regular.otf);
}