
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: roboto, inter, poppins;
  
  --background-color: #201f1f;
  --background-secondary:#282727;
  --primary: #EEAA6F;
  --secondary: rgba(238,170,111,0.1);

  --text: #EAE3E3;
  --text-secondary: #CDC9C9;

  font-size: 14px;
 
}


.Body{
  background-color: var(--background-color);
  color: var(--text);
}


a{
  color: inherit;
}






/* ---------------- */
/*     Fuentes      */
/* ---------------- */


@font-face {
  font-family: roboto;
  src: url(../../public/fonts/Roboto_SemiCondensed-ExtraLight.ttf);
}




@font-face {
  font-family: roboto-medium;
  src: url(../../public/fonts/Roboto_Condensed-Medium.ttf);
}


@font-face {
  font-family: roboto-black;
  src: url(../../public/fonts/Roboto_Condensed-Black.ttf);
}