





.Main-buscador{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}





.Main-titulo{
    font-family: apfel-black;
    font-size: 2rem;
}


.Galeria-canciones{
    margin-bottom: 10rem;
}







/* media queries */


/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {

    .Header-main{
        display: flex;
        width: 100%;
    }


    .Main-buscador{
        width: 100%;
    }

  
    
}




/* Escritorio */
@media (min-width: 1025px) {


    .Header-main{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
        gap: 2rem;
    }
  


    .Main-buscador{
        width: 100%;
    }

}