.Main-home {

    /* margin: 1rem; */
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 9rem;
    padding: 1rem;
    position: relative;

}



.Main-intro {

    font-family: montserrat-extrabold;
    width: 85%;
    margin-top: 1.5rem;



}





.Main-subheading {

    font-family: montserrat-extrabold;

}




.Galeria {

    padding: 1rem;
    



}


.Galeria-tendenciasSlider {
    position: relative;
    display: flex;
    gap: 1rem;
    width: 100%;
    padding-bottom: 1.5rem;
}

.Galeria-btn {
    position: absolute;
    list-style: none;
    bottom: 0;
    border: none;
    background: none;
    color: var(--text);
    padding: 3rem 1rem 0 1rem;
}



.Galeria-btn.left {
    left: 0;
}

.Galeria-btn.right {
    right: 0;
}






.Galeria-tendencias>* {
    flex-shrink: 0;
    scroll-snap-align: start;
}

.Galeria-tendencias::-webkit-scrollbar {
    display: none;
}







.Galeria-tendencias {
    display: flex;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}



.Listas-img {

    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;


}

.Listas-imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    border-radius: 6px;

}


.Listas-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;

}



.Listas-titulo {
    color: var(--text);
    font-family: montserrat-extrabold;

    text-align: center;
}



.Listas-btn {

    display: flex;
    gap: 3rem;

}




.botones-recom {

    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;

}






.Galeria-recomendaciones {

    display: flex;
    padding: 1rem;


}


.Galeria-ulRecomendaciones>* {
    flex-shrink: 0;
    scroll-snap-align: start;
}

.Galeria-ulRecomendaciones::-webkit-scrollbar {
    display: none;
}





.Galeria-recomSlider {
    position: relative;

    width: 100%;
    padding-bottom: 2rem;
    min-height: 200px;
    /* background-color: red; */
}


.Galeria-ulRecomendaciones {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}




.Seccion-imagen {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 200px;
    border-radius: 10px;


}


.Img-cta {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 3px 3px 10px var(--primary);
    filter: brightness(0.7);
}





.Sounds-cta {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding-top: 2rem;
    width: 60%;
    color: var(--background-secondary);
    z-index: 1;



}

.Soundslike {
    font-family: genius;
    text-align: center;
    color: var(--text);
    font-size: 3rem;

}

.Sounds-texto {
    color: var(--text);
    font-family: montserrat-medium;
    text-align: center;

}









/* Seccion 'HECHO PARA TI' */


.Main-cancionesListas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}


.Cabecera-img {

    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.Cabecera-img {
    width: 100%;
    object-fit: cover;


}

.Cabecera {
    font-family: genius;
    letter-spacing: 1px;
    position: absolute;
    font-size: 3rem;
    text-align: center;
    z-index: 1;
    color: var(--primary);
}










/* media queries */


/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {

    .Header-main {
        display: flex;
    }


    .Main-home {
        overflow: hidden;
        /* width: 100vw; */
    }




    .Galeria {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        gap: 0.5rem;



    }




    .Galeria-animo {

        display: flex;


    }




    .Galeria-options {
        display: flex;
    }

    .SoundsH1 {
        font-size: 2rem;
    }

    .ctaButton {
        font-size: 32px;
    }

    .Seccion-imagen {
        min-height: 300px;
    }


    .Main-intro {
        font-size: 2.5rem;
    }

    .Main-subheading {
        font-size: 2rem;
    }



    .Main-cancionesListas {
        width: 100%;
    }


    .Cabecera {
        font-size: 4rem;
        letter-spacing: 1.5px;
    }



    .Soundslike {
        font-family: genius;
        color: var(--text);
        font-size: 4rem;

    }

    .Sounds-texto {
        color: var(--text);


        font-size: 1.5rem;
    }



    .Listas-titulo {
        color: var(--text);

        font-size: 3rem;
    }



}




/* Escritorio */
@media (min-width: 1025px) {


    .Header-main {
        display: flex;
        flex-direction: row;

        gap: 2rem;
    }


    .Main-home {
      
        width: 100%;
        overflow: hidden;
        padding-right: 1.5rem;
        box-sizing: border-box;
    }


    .Galeria {
        display: flex;
        justify-content: center;
        padding: 2rem;
        gap: 3rem;

    }





    .Galeria-options {
        display: flex;
    }



    .Seccion-imagen {
        min-height: 300px;
    }



    .Main-intro {
        font-size: 3rem;
    }

    .Main-subheading {
        font-size: 2rem;
    }



    .Main-cancionesListas {
        width: 100%;
    }


    .Cabecera {
        font-size: 4.5rem;
        letter-spacing: 1.5px;
    }




    .Soundslike {
        font-family: genius;
        color: var(--text);
        font-size: 5rem;

    }

    .Sounds-texto {
        color: var(--text);

        font-size: 2rem;
    }



    .Listas-titulo {
        color: var(--text);

        font-size: 3rem;
    }




}