.Main-home {

    /* margin: 1rem; */
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 12rem;
    padding: 1rem;
    position: relative;

}



.Main-intro {
    width: 90%;
    font-family: apfel-black;
    letter-spacing: px;


}





.Main-subheading {

    font-family: apfel-black;
    letter-spacing: 1px;

}




.Galeria {
   
    padding: 1rem;
  
  
  
}


.Galeria-tendencias > * {
    flex-shrink: 0;
    scroll-snap-align: start;
}

.Galeria-tendencias::-webkit-scrollbar {
    display: none;
}





.Galeria-tendencias{
    display: flex;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}



.Listas-img{

    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    
   
}

.Listas-imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    border-radius: 6px;
    
}


.Listas-texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
    
}



.Listas-titulo{
    color: var(--text);
    font-family: apfel-black;
    font-size: 2.5rem;
}



.Listas-btn{

    display: flex;
    gap: 3rem;
   
}




.Galeria-recomendaciones{

    display: flex;
    padding: 1rem;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}


.Galeria-recomendaciones > * {
    flex-shrink: 0;
    scroll-snap-align: start;
}

.Galeria-recomendaciones::-webkit-scrollbar {
    display: none;
}







.Galeria-ulRecomendaciones{
    display: flex;
    align-items: center;

}


.Seccion-imagen {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 200px;
    border-radius: 10px;
    

}


.Img-cta{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 3px 3px 10px var(--primary);
    filter: brightness(0.9);
}





.Sounds-cta {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding-top: 2rem;
    width: 60%;
    color: var(--background-secondary);
    z-index: 1;



}

.Soundslike{
    font-family: genius;
    color: var(--text);
    font-size: 3rem;

}

.Sounds-texto{
    color: var(--text);
    font-family: apfel-black;
    letter-spacing: 0.7px;
}









/* Seccion 'HECHO PARA TI' */


.Main-cancionesListas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}


.Cabecera-img{
    
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.Cabecera-img{
    width: 100%;
    object-fit: cover;
   

}

.Cabecera{
    font-family: genius;
    letter-spacing: 1px;
    position: absolute;
    font-size: 3rem;
    text-align: center;
    z-index: 1;
    color: var(--primary);
}










/* media queries */


/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {

    .Header-main{
        display: flex;
    }


    .Main-home{
        padding-right: 10rem;
    }

   

    .Galeria {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        gap: 0.5rem;
        overflow: hidden;

    
    }


    .Galeria-animo {

        display: flex;


    }


    .Galeria-options{
        display: flex;
    }

    .SoundsH1 {
        font-size: 2rem;
    }

    .ctaButton{
        font-size: 32px;
    }

    .Seccion-imagen {
        min-height: 300px;
    }


    .Main-intro{
        font-size: 2.5rem;
    }
    .Main-subheading{
        font-size: 2rem;
    }



    .Main-cancionesListas{
        width: 100%;
    }


    .Cabecera{
        font-size: 4rem;
        letter-spacing: 1.5px;
    }



    .Soundslike{
        font-family: genius;
        color: var(--text);
        font-size: 4rem;
    
    }
    
    .Sounds-texto{
        color: var(--text);
        font-family: apfel-black;
        letter-spacing: 0.7px;
        font-size: 1.5rem;
    }
    
    
    
    .Listas-titulo{
        color: var(--text);
        font-family: apfel-black;
        font-size: 3rem;
    }
    
  
    
}




/* Escritorio */
@media (min-width: 1025px) {


    .Header-main{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 2rem;
    }
    

.Main-home{
    padding-right: 11rem;
}

    .Galeria {
        display: flex;
        justify-content: center;
        padding: 2rem;
        gap: 3rem;
        
    }
    

    .Main-home {
        flex-grow: 1; 
    }
  


    .Galeria-options{
        display: flex;
    }



    .Seccion-imagen {
        min-height: 300px;
    }



    .Main-intro{
        font-size: 3rem;
    }
    .Main-subheading{
        font-size: 2rem;
    }
  


    .Main-cancionesListas{
        width: 100%;
    }


    .Cabecera{
        font-size: 4.5rem;
        letter-spacing: 1.5px;
    }




.Soundslike{
    font-family: genius;
    color: var(--text);
    font-size: 5rem;

}

.Sounds-texto{
    color: var(--text);
    font-family: apfel-black;
    letter-spacing: 0.7px;
    font-size: 2rem;
}



.Listas-titulo{
    color: var(--text);
    font-family: apfel-black;
    font-size: 3rem;
}




}