



.Main-inicio{
    display: flex;
    position: relative;
    flex-direction: column;
    
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-image: url('../../public/img/portada.jpg');
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    
}

.Intro-texto{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 2rem;
    z-index: 1;
    align-items: center;
    background-color: rgba(0, 0, 0,  0.3);
    width: 100%;
    justify-content: center;
    padding: 30px 0;
}


.Texto{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;

    
}



.Main-h1Intro{
    font-size: 4rem;
    font-family: inter-oblique;
    color: var(--text);
    letter-spacing: 7px;
  
}
.Main-intro{
    margin-top: 4rem;
    width: 60%;
}
.Inicio-img {

   width: 100%;
   object-fit: cover;
   height: 100vh;
   opacity: 0.5;
    
}

.Intro-botones{
    display: flex;
    gap: 2rem;
}


.Intro-btn{
    font-family: inter-regular;
}