
.Main-login{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 100%;
    position: relative;
}

.Formulario{
    display: flex;
    
    background-color: var(--background-secondary);
    width: 80%;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 2rem 1rem;
    border-radius: 6px;
    
}

.Formulario-h1{
    font-family: inter-black;
    font-size: 3rem;
    letter-spacing: 3px;
}

.Formulario-input{
    width: 80%;
    padding: 0.9rem;
    border: none;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid var(--secondary);
    background: none ;
    color: var(--text);
    transition: background-color 0.5s ease, color 0.5s ease;
}


.Formulario-input:focus{
    color: var(--text);
    outline: none;
    background-color: rgb(45, 43, 43);
}

.Formulario-botones{
    display: flex;
    gap: 3rem;
    width: 80%;
    justify-content: center;

   
}




/* media queries */


/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {




    .Formulario{
        width: 65%;
        margin-top: 3rem;
    }

    .Formulario-input{
        width: 70%;
    }

}




/* Escritorio */
@media (min-width: 1025px) {

    .Formulario{
        width: 65%;
        margin-top: 4rem;
    }

    .Formulario-input{
        width: 70%;
    }

}