


.Header{
    padding: 1rem 3rem;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    opacity: 0.9;
    border-radius: 0 0 60px 60px; 
    z-index: 1;
}

.Header-nav{}

.Header-ul{
    display: flex;
    justify-content: space-between;
}


.active{
    color: var(--primary);
}

.Header-li{
    list-style: none;
}

.Header-icon{
    font-size: 28px;
    color: var(--text);
    cursor:pointer;
    transition: transform 0.2s ease;

}

.Header-icon:active{
    transform: scale(0.9);
}

.Logo{
    display: flex;
    align-items: center;
    
}

.h4{
    font-family: inter-oblique;
    letter-spacing: 1px;
}

.Bottom-li{
    display: none;
}





/* media queries */


/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {

    .Header{
        width: auto;
        height: 80vh;
        border-radius: 0 0 60px 0;
        background-color: var(--background-secondary);
        padding: 4rem 2.5rem;
        box-shadow: 1px 1px 10px var(--secondary);
       
    }

    

    .Header-nav{
        height: 100%;
    }
    .Header-ul
    {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: start;
        justify-content: space-between;
        z-index: 1;
        opacity: 1;
        
    }





    .Bottom-li{
        display: block;
    }


}



/* Escritorio */

@media (min-width: 1025px) {

    .Header{
        width: auto;
        height: 80vh;
        border-radius: 0 0 60px 0;
        background-color: var(--background-secondary);
        padding: 4rem 3rem;
        box-shadow: 1px 1px 10px var(--secondary);
       
    }

    .Header-nav{
        height: 100%;
    }
    .Header-ul
    {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: start;
        justify-content: space-between;
        z-index: 1;
        opacity: 1;
        
    }





    .Bottom-li{
        display: block;
    }

}