

.Reproductor{

    display: flex;
   
    align-items: center;
    padding: 1.5rem 4rem;
    padding-bottom: 5rem;
    z-index: 1;
    width: 100%;
    background-color:rgba(27, 24, 24, 0.4);
    position: fixed;
    border-radius: 80px 80px 0 0 ;
    bottom: 15px;
    left: 0;
    box-shadow: 1px 1px  10px var(--background-secondary);

}

.Reproductor-info{
  
     width: 100%;
}



.Mensaje-reproductor{
    width: 100%;
   
}




/* media queries */


/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {
    .Footer{
        display: none;
    }


    .Reproductor{
        position: fixed;
        bottom: 0;
        padding: 2rem 3;
        padding-bottom: 1rem;
    }
        
    }
    
    
    
    /* Escritorio */
    
    @media (min-width: 1025px) {
    
       .Footer{
        display: none;
       }


       .Reproductor{
        position: fixed;
        bottom: 0;
        padding: 2rem 3rem;
       
       }
    }