.Reproductor-card {
  background-color: var(--secondary);
  width: 300px;
  height: auto;
  padding: 1.5rem;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}



.Card-imagen {
  width: 100%;
  height: 200px;
  position: relative;
}

.Reproductor-imagen {
  width: 100%;
  border-radius: 6px;
  box-shadow: 3px 3px 10px var(--background-color);
  height: 100%;
  object-fit: cover;
}

.Card-icon {
  position: absolute;
  font-size: 28px;
  padding: 0.3rem;
  border-radius: 30px;
  bottom: 10px;
  right: 10px;
  background-color: var(--background-color);
  cursor: pointer;
  transition: transform 0.2s ease;

}


.Card-icon:active {
  transform: scale(0.9);
}



.progress-bar {

  width: 100%;
  height: 5px;
  background-color: var(--background-color);

  border-radius: 8px;

}


.progress {
  height: 100%;
  background-color: var(--text);
  border-radius: 5px;
}


.Reproductor-controllers {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.Btn-control {
  border: none;
  background: none;
  font-size: 28px;
  cursor: pointer;
  transition: transform 0.2s ease;
  color: var(--text);
}


.Btn-control:active {

  transform: scale(0.8);
}



.Reproductor-infoCancion {

  top: 30px;
  left: 100px;
}

.Reproductor-song {
  font-family: apfel-black;
  font-size: 2.5rem;
}





.Menu-add {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;

  background-color: var(--background-secondary);


  border-radius: 80px 80px 0 0;
  padding: 2rem;
  width: 100%;

  animation: aparecer 0.2s ease-out forwards;


}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(-50%, -50%) scale(0.2);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%, -50%) scale(1);
  }
}

.Reproductor-cabecera {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.Reproductor-iconAdd {
  font-size: 28px;
  cursor: pointer;
  transition: transform 0.2s ease;
}


.Reproductor-iconAdd:active {
  transform: scale(0.9);
}


.MenuOpened-addIcon {
  font-size: 24px;
  cursor: pointer;
}


.Galeria-li {
  cursor: pointer;
}