
.Notificacion-container{
    display: flex;
    justify-content: center;
    position: absolute;
}

.Notificacion{
    padding: 2rem;
    display: flex;
    gap: 1rem;
    border-radius: 6px;
    color: var(--text);
  
}









.Notificacion-success{
    background-color: rgb(114, 176, 114);
  

}


.Notificacion-error{
    background-color: rgb(227, 124, 124);

}