
.Notificacion-container{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.Notificacion{
    padding: 2rem;
    z-index: 9;
    display: flex;
    gap: 1rem;
    border-radius:0 0 20px 20px;
    color: var(--text);
    animation: slideFadeIn 0.4s ease-out;
    position: sticky;
    top: 3rem;
  
}




@keyframes slideFadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }




.Notificacion-success{
    background-color:var(--background-secondary)
    
  

}


.Notificacion-error{
    background-color:var(--background-secondary);

}

.Notificacion-info {
    background-color: var(--background-secondary);
}








/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {


  .Notificacion{
    
    position: sticky;
    top: 0;
  
}

}




/* Escritorio */
@media (min-width: 1025px) {


  .Notificacion{
    
    position: sticky;
    top: 0;
  
}




}