


.Main-bibliotecas{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1rem;
    gap: 1.5rem;
}

.Bibliotecas{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Subheader-nav{
    padding: 1.5rem 1rem;
}


.Subheader-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.Subheader-li{
    list-style: none;
}


.Subheader-p{
    text-align: center;
}


.Subheader-content{
    display: flex;
    align-items: center;
    padding: 0.7rem 0.6rem;
    background-color: var(--background-secondary);
    gap: 0.6rem;
    border-radius: 10px;
    cursor: pointer;

    transition: transform 0.2s ease;
}


.Subheader-svg{
    width: 14px;
    stroke: var(--primary);
}





.Subheader-content:active{
    transform: scale(0.9);
}



.Bibliotecas-intro{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

}

.Bibliotecas-icono{
    font-size: 32px;
    color: var(--primary);
}


.Bibliotecas-titulo{
    font-family: apfel-black;
}

.Galeria-listas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 13rem;
}


.Galeria-li{
    list-style: none;
}