




.Input-buscador{
    padding: 0.9rem;
    border-radius: 6px;
    background: none;
    border: 0.5px solid var(--text-secondary);
    transition: box-shadow 0.3s ease;
    width: 70%;
    color: var(--text-secondary);
}





.Input-buscador:focus{
    box-shadow: 1px 1px 8px var(--primary);
    border: none;
    outline: none;
}