

.Reproductor{

    display: flex;
   
    align-items: center;
    padding: 1.5rem 4rem;
    padding-bottom: 5rem;
    z-index: 1;
    width: 100%;
    background-color:rgba(29, 28, 28, 0.7);
    position: fixed;
    border-radius: 80px 80px 0 0 ;
    bottom: 15px;
    left: 0;
    box-shadow: 1px 1px  10px var(--background-secondary);

}


.Reproductor-info{
  
     width: 100%;
     display: flex;
     flex-direction: column;
}


.Info-cancion{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.Cancion-artista{
    font-size: 10px;
}

.Reproductor-img{

    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 4px;
}




.Mensaje-reproductor{
    width: 100%;
   
}

.Botones-control{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.Controls-icons{
    font-size: 20px;
}



/* media queries */


/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {
    .Footer{
        display: none;
    }


    .Reproductor{
        position: fixed;
        bottom: 0;
        padding: 2rem 3;
        padding-bottom: 1rem;
    }
        
    }
    
    
    
    /* Escritorio */
    
    @media (min-width: 1025px) {
    
       .Footer{
        display: none;
       }


       .Reproductor{
        position: fixed;
        bottom: 0;
        padding: 2rem 3rem;
       
       }
    }